<h2>Change your password</h2>

<div class="container my-5">
  <%= devise_error_messages! %>
  <%= form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :put }) do |f| %>
    <%= f.hidden_field :reset_password_token %>
  
      <div class="form-group row">
        <%= f.label :password, "New password", class: 'col-sm-4 col-form-label' %>
        <div class="col-sm-8">
          <%= f.password_field :password, autocomplete: "off", class: 'form-control' %>
          <% if @minimum_password_length %>
            <em>(<%= @minimum_password_length %> characters minimum)</em>
          <% end %>
        </div>
      </div>
    
      <div class="form-group row">
        <%= f.label :password_confirmation, class: 'col-sm-4 col-form-label' %>
        <div class="col-sm-8">
          <%= f.password_field :password_confirmation, autocomplete: "off", class: 'form-control' %>
        </div>
      </div>
      
      <div class="actions d-flex justify-content-between">
        <%= link_to 'Back', :back, class: "btn btn-secondary" %>
        <%= f.submit "Change my password", class: 'btn btn-success', data: { turbolinks: "false"} %>
      </div>
    <% end %>
  <% end %>
</div>
<%= render "devise/shared/links" %>
