<%= javascript_include_tag 'wikis', 'data-turbolinks-track': 'render' %>

<div class='card mx-auto'>
  <div class='card-header'>
    <nav class="nav nav-tabs card-header-tabs" id="nav-tab" role="tablist">
      <a class="nav-link active" id="wiki-edit-tab" data-bs-toggle="tab" data-bs-target="#wiki-edit" role="tab" aria-controls="wiki-edit" aria-selected="true" onclick="reset_preview()">Edit</a>
      <a class="nav-link" id="wiki-preview-tab" data-bs-toggle="tab" role="tab" data-bs-target="#wiki-preview"" aria-controls="wiki-preview" aria-selected="false" onclick="update_markdown()">Preview</a>
      <% if wiki.private? and (current_user.premium? or current_user.admin?) %>
        <a class="nav-link" id="settings-tab" data-bs-toggle="tab" role="tab" data-bs-target="#wiki-settings" aria-controls="wiki-settings" aria-selected="false">Settings</a>
      <% end %>
      <div class='nav-item ms-auto'>
        <%= link_to "Cancel", @wiki, class: 'btn btn-sm btn-secondary' %>
      </div>
    </nav>
  </div>
  <div class="tab-content card-body p-4" id="myTabContent">
    <div class="tab-pane fade show active" id="wiki-edit" role="tabpanel" aria-labelledby="nav-home-tab">
      <%= form_for wiki do |f| %>
        <div class="">
          <%= error_group_tag(wiki.errors[:title], class: 'mb-3') do %>
            <%= f.label :title %>
            <%= f.text_field :title, autocomplete: 'off', class: 'form-control', placeholder: 'Wiki Title' %>
          <% end %>
          <% if wiki.mine?(current_user) or current_user.try(:admin?) %>
            <%= error_group_tag(wiki.errors[:private], class: 'form-check mb-3') do %>
              <%= f.check_box :private, class: 'form-check-input' %>
              <%= f.label :private, class: 'form-check-label' %>
            <% end %>
          <% end %>
        </div>
        <%= error_group_tag(wiki.errors[:body], class: "mb-3") do %>
          <%= f.label :body %>
          <%= f.text_area :body, autofocus: true, rows: 15, class: 'form-control', placeholder: 'Your great ideas go here!', id: 'wiki-content' %>
        <% end %>
        <div class='d-flex justify-content-between mt-5'>
          <%= f.submit "Save", class: 'btn btn-success' %>
          <% if current_user == wiki.owner or current_user.try(:admin?) %>
            <%= link_to "Delete", wiki, class: 'btn btn-outline-danger', method: :delete, data: {confirm: 'Are you sure you want to delete this wiki?'} %>
          <% end %>
        </div>
      <% end %>
    </div>
    <div class="tab-pane fade wiki-main" id="wiki-preview" role="tabpanel" aria-labelledby="wiki-preview-tab">
      <div class="loading">
        <div></div>
      </div>
    </div>
    <% if wiki.private? and (current_user.premium? or current_user.admin?) %>
      <div class="tab-pane fade" id="wiki-settings" role="tabpanel" aria-labelledby="settings-tab">
        <div class="col-xs-12 col-md-6 mx-auto">
          <%= render partial: '/collaborators/collaborators', locals: { wiki: @wiki } %>
        </div>
      </div>
    <% end %>
  </div>
</div>
