<h1>Wikis</h1>
<section class="wikis list-group mb-3">
  <%= will_paginate @wikis, :renderer => WillPaginate::ActionView::Bootstrap4LinkRenderer, class: 'd-flex justify-content-center' %>
  <% @wikis.each do |wiki| %>
    <%= link_to(wiki, class: 'list-group-item list-group-item-action') do %>
      <div class="d-flex justify-content-between">
        <div>
          <div class="d-flex justify-content-start">
            <h4 class="text-primary"><%= wiki.title %></h4>
            <% if wiki.private %>
              <span class="badge badge-primary badge-pill align-self-center ml-2">Private</span>
            <% end %>
          </div>
          <span>Created by: <%= wiki.mine?(current_user) ? 'Me' : user_name(wiki.owner) %></span>
        </div>
        <div>
          <div><i><%= time_ago_in_words wiki.created_at %> ago</i></div>
          <% if wiki.private? and current_user and wiki.collaborators.where(user: current_user) %>
            <span class="badge badge-secondary badge-pill align-self-center ml-2">Collaborator</span>
          <% end %>
        </div>
      </div>
      <% end %>
  <% end %>
</section>
<%= will_paginate @wikis, :renderer => WillPaginate::ActionView::Bootstrap4LinkRenderer, class: 'd-flex justify-content-center mb-5' %>
